<div id="wrapper">
  <header id="header">
    <div class="container">
      {{ page.header }}
    </div>
  </header>
  {% if page.menu %}
    <nav id="menu">
      <div class="container">
        {{ page.menu }}
      </div>
    </nav>
  {% endif %}
  <main id="main">
    {% if page.slider %}
      <div id="slider">
        <div class="slider">
          {{ page.slider }}
        </div>
      </div>
    {% endif %}

    <div id="contenedor" class="ct-main">
      {% if page.sidebar_left %}
        <aside id="sidebar_left">
          {{ page.sidebar_left }}
        </aside>
      {% endif %}
      <div id="contenido">
        {{ page.content }}
      </div>
      {% if page.sidebar_right %}
        <aside id="sidebar_right">
          {{ page.sidebar_right }}
        </aside>
      {% endif %}
    </div>
  </main>
  {% if page.footer %}
    <footer id="footer">
      <div class="container">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}
</div>
